:root {
    --black: #000000;
    --gray: #696871;
    --blue: #5454D4;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Space Grotesk";

}
.shapka {
    padding-top: 50px;
    padding-bottom: 60px;
}

.shapka_div, .hero_container, .companies_container, .sbuttonz, .s_desc {
    max-width: 1440px;
    margin-inline: auto
}

.shapka_nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.shapka_list {
   display: flex;
   gap: 40px;
}

ul{
    list-style: none;
}

.shapka_list-link {
font-family: "Space Grotesk";
font-weight: 700;
font-size: 30px;
color: var(--gray);
transition: color 0.3s;

}

.shapka_list-link.active {

    color: var(--black);
    border-bottom: 4px solid var(--blue);
    padding-bottom: 10px;
}

.shapka_list-link:hover {

    color: var(--black);
}

a {
    text-decoration: none;
}

.shapka_button {
background-color: rgb(255, 255, 255);
    font: weight 400px;
    font-size: 30px;
    color: #000000;
    padding: 30px 45px;
    border: 2px solid var(--black);
    border-radius: 10px;
    transition: 0.3s;
}


.shapka_button:hover {
    opacity: 80%;
}

.hero {

    padding-block: 70px 0;
}

.hero_image{
    position:absolute ;
    top: 0;
    right: -135px;

}

.hero_container{
    position: relative;
}

.hero_title{
    font-weight: 600;
    font-size: 80px;
    letter-spacing: -2.5px;
    line-height: 77px;
    color: var(--black);
}

.hero_desc{

    font-family: "Space Grotesk";
    font-size: 20px;
    letter-spacing: -0.63px;
    line: height 28px; 
    color: var(--gray);
    margin-top: 35px;
}
.hero_button{
    max-width: 400px;
    background-color: #191A23;
    font: weight 200px;
    font-size: 30px;
    color: white;
    padding: 30px 45px;
    border: 2px solid #191A23;
    border-radius: 10px;
    transition: 0.3s;
}
.hero_button:hover{
    opacity: 80%;
}

.companies{
    padding-block: 70px;
}
.companies_company{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero_content{
    max-width: 531px;
padding: auto;
}

.sbuttonz{
      max-width: 80px;
      max-height: 80px;
    background-color: limegreen;
    font: weight 50px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding: 20px 45px;
    border: 2px solid #191A23;
    border-radius: 10px;
    transition: 0.3s;  
    display: flex; 
    justify-content: center; 
    position:relative ;
    right: 600px;
    
    
}
.sbuttonz:hover{
    opacity: 80%;
}
.s_desc{ 
    font-family: "Space Grotesk";
    font-size: 20px;
    letter-spacing: -0.63px;
    line: height 28px; 
    color: var(--gray);
    margin-top: -51px;
    display: flex;
  justify-content: right;
  vertical-align: 150px;
}
